body {
  margin: 0;
  background: #39747C;
}

#container{
  width: 90%;
  height: 575px;
  margin: auto;
}
.titulo{
  width: 100%;
  height: 150px;
  background-color:rgba(0, 0, 0, 0.5);
  font-family: agency fb;
  color: white;
  text-align: center;
  line-height: 150px;
  font-size: 3vw;
  border-radius: 10px;
}
#contenido{
  width: 70%;
  height: 400px;
  background-color:rgba(0, 0, 0, 0.5);
  float: left;
  margin-top: 5px;
  border-radius: 10px;
}
aside{
  float: right;
  width: 29%;
  height: 400px;
  background-color:rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  border-radius: 10px;
}
.character-name-container{
  background-color: none;
  color: white;
  font-family: agency fb;
  width: 100%;
  height: 6em;
  line-height: 6em;
  text-align: center;
}

.character-image{
  border-radius: 20%;
  display: block;
  margin: auto;
  margin-top: 5px;
  max-width: 90%;
}
.character-label {
  background: hsl(30, 1%, 34%, 50%);
  padding: 1em;
  color: white;
  border-radius: 10px;
  font-size: 25px;
  width: 85%;
  display: block;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}
.character-name {
  position: relative;
  font-size: 30px;
}

.button{
  float: left;
  margin-top: 20px;
  background-color:   hsl(30, 1%, 34%, 50%);
  border-radius: 5px;
  width: 48%;
  padding: 5px;
}
.button1{
  float: right;
  margin-top: 20px;
  background-color:   hsl(30, 1%, 34%, 50%);
  border-radius: 5px;
  width: 48%;
  padding: 5px;
}
